* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(45deg, #274734, #56925c, #183c1d, #73ce81);
  background-size: 300%, 300%;
  height: 100%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  font-family: "Marck Script", cursive;
  font-size: 60px;
  font-weight: 900;
  color: #8fff9c;
  text-decoration: none;
  cursor: pointer;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 50px;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px 0 #8fff9c;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  color: #fcf9fc;
  letter-spacing: 0.05px;
  text-decoration: none;
  padding: 0 19px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: linear-gradient(45deg, #67b170, #232222, #67b170);
  border-radius: 8px;
  transition: 0.5s;
}

div.active a {
  color: #8fff9c;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  left: 90px;
  width: 95px;
}

nav a:nth-child(3):hover ~ span {
  left: 188px;
  width: 107px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container1 {
  text-align: center;
}

.content1 h1 {
  font-size: 110px;
  text-decoration: none;
  padding-top: 50px;
}

h1 span:nth-child(1) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

h1 span:nth-child(2) {
  color: #ffffff;
}

h1 span:nth-child(3) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

.content2 h2 {
  font-size: 35px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(60, end) infinite alternate,
    blink-caret 0.1s step-end infinite;
  color: transparent;
  -webkit-text-stroke: 0.05vw #a9ffb3;
}

.content2 h2 span {
  -webkit-text-stroke: 0.05vw #ffffff;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  gap: 100px;
}

.content3 p {
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.05px;
  line-height: 45px;
  padding: 10px;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px #6faa76;
}

button {
  position: relative;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  width: 160px;
  padding: 10px;
  border-radius: 30px;
  border: 2.5px solid #8fff9c;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}

button a {
  color: #8fff9c;
  text-decoration: none;
}

button span {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

button:hover {
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px 0 #8fff9c;
  transition: 1s;
  cursor: pointer;
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  background: #232222;
  height: 50px;
  transform: translateY(-100%);
}

@media (max-width: 1000px) {
  .logo a {
    font-size: 50px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content1 h1 {
    font-size: 60px;
  }

  .content2 h2 {
    font-size: 30px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content3 p {
    font-size: 14px;
    line-height: 30px;
  }

  footer {
    font-size: 14px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .logo a {
    font-size: 40px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content1 h1 {
    font-size: 40px;
  }

  .content2 h2 {
    font-size: 25px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content3 p {
    font-size: 11px;
    line-height: 30px;
  }

  button {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    border: 2.5px solid #b5ffbd;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
  }

  footer {
    font-size: 11px;
  }
}
