* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background: 100%;
  background: #000000;
  height: 100%;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  font-family: "Marck Script", cursive;
  font-size: 60px;
  font-weight: 900;
  color: #8fff9c;
  text-decoration: none;
  cursor: pointer;
}

/* #songPlayer {
            margin-left: 150px;
          }
          
          audio::-webkit-media-controls-panel {
            background: #8fff9c;
          }
          
          audio::-webkit-media-controls-play-button {
            border-radius: 50%;
          }
          
          audio::-webkit-media-controls-current-time-display {
            color: #232222;
          }
          
          audio::-webkit-media-controls-time-remaining-display {
            color: #232222;
          }
          
          audio::-webkit-media-controls-timeline {
            border-radius: 40px;
            background: #494a4936;
            margin: 5px;
          }
          
          audio::-webkit-media-controls-volume-slider {
            background: #494a4936;
            border-radius: 50px;
            padding-left: 10px;
            padding-right: 10px;
          }
          
          audio::-webkit-media-controls-mute-button {
            border-radius: 50%;
          } */

nav {
  position: relative;
  width: 295px;
  height: 50px;
  background: #222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px 0 #8fff9c, 0 5px 50px 0 #8fff9c;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  color: #fcf9fc;
  text-decoration: none;
  padding: 0 19px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: linear-gradient(45deg, #67b170, #232222, #67b170);
  border-radius: 8px;
  transition: 0.5s;
}

div.active a {
  color: #8fff9c;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  left: 90px;
  width: 95px;
}

nav a:nth-child(3):hover ~ span {
  left: 188px;
  width: 107px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container1 {
  text-align: center;
}

.content h1 {
  font-size: 110px;
  text-decoration: none;
  padding-top: 50px;
}

h1 span:nth-child(1) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

h1 span:nth-child(2) {
  color: #ffffff;
}

h1 span:nth-child(3) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

.content1 h2 {
  font-size: 35px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(60, end) infinite alternate,
    blink-caret 0.1s step-end infinite;
  color: transparent;
  -webkit-text-stroke: 0.05vw #a9ffb3;
}

.content1 h2 span {
  -webkit-text-stroke: 0.05vw #ffffff;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px;
}

.content2 p {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 45px;
  padding: 10px;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px #6faa76;
}

/* button {
          font-size: 27px;
          letter-spacing: 1.5px;
          width: 160px;
          padding: 10px;
          text-align: center;
          border-radius: 30px;
          font-weight: bold;
          border: 2.5px solid #8fff9c;
          background: transparent;
          cursor: pointer;
          position: relative;
          overflow: hidden;
        } */

button a {
  text-decoration: none;
  color: #8fff9c;
}

button span {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px 0 #8fff9c;
  transition: 1s;
}

footer {
  color: #ffffff;
  background: #232222;
  border-top: 2px solid #ffffff3a;
  font-size: 16px;
  height: 50px;
  position: relative;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .logo a {
    font-size: 50px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content h1 {
    font-size: 60px;
  }

  .content1 h2 {
    font-size: 30px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content2 p {
    font-size: 14px;
    line-height: 30px;
  }

  footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .logo a {
    font-size: 40px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content h1 {
    font-size: 40px;
  }

  .content1 h2 {
    font-size: 25px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content2 p {
    font-size: 11px;
    line-height: 30px;
  }

  /* button {
            font-size: 20px;
            letter-spacing: 1.5px;
            width: 100px;
            padding: 10px;
            text-align: center;
            border-radius: 30px;
            font-weight: bold;
            border: 2.5px solid #b5ffbd;
            background: transparent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          } */

  footer {
    font-size: 11px;
  }
}

/* ----------------------------------------- */

.contain1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contain1 p {
  font-size: 23px;
  font-weight: 600;
  color: transparent;
  padding-bottom: 35px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(60, end) infinite alternate,
    blink-caret 0.1s step-end infinite;
  -webkit-text-stroke: 0.07vw #8fff9c;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* .box {
          height: 60px;
          display: flex;
          cursor: pointer;
          padding: 10px 20px;
          background: #232222;
          border: 3px solid #8fff9c;
          border-radius: 50px;
          align-items: center;
        }
        
        input::-webkit-clear-button {
          display: none;
        }
        
        .box:hover {
          box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 30px 0 #8fff9c;
        }
        
        .box:hover input {
          width: 320px;
        }
        
        input::placeholder {
          color: #ffffff;
          font-size: 16px;
        }
        
        .box input {
          width: 0;
          outline: none;
          border: none;
          color: #8fff9c;
          font-size: 16px;
          font-weight: 500;
          transition: 1s;
          background: transparent;
        }
        
        .box a .fa-solid {
          color: #8fff9c;
          font-size: 20px;
        } */

.box {
  height: 60px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #232222;
  border: 3px solid #8fff9c;
  border-radius: 50px;
  align-items: center;
}

input::-webkit-clear-button {
  display: none;
}

.box:hover {
  box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 30px 0 #8fff9c;
}

.box:hover input {
  width: 320px;
}

input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  color: #8fff9c;
  font-size: 16px;
  font-weight: 500;
  transition: 1s;
  background: transparent;
}

.box .fa-solid {
  color: #8fff9c;
  font-size: 20px;
}

#search {
  border-radius: 50px;
  background: transparent;
  border: none;
}

/*
        */

#noResults {
  color: #ffffff;
  font-size: 18px;
}

.single-result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 50px;
}

.col h3 {
  color: #ffffff;
  font-size: 21px;
  text-align: left;
  margin-bottom: 10px;
}

.col p {
  color: #ffffffc0;
  font-size: 18px;
}

.col2 button {
  color: #8fff9c;
  font-size: 19px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  width: 160px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 2.5px solid #b5ffbd;
  background: transparent;
  cursor: pointer;
}

.col2 button:hover {
  box-shadow: 0 2px 15px 0 #8fff9c, 0 2px 15px 0 #8fff9c;
}

.single-result-row {
  display: flex;
  align-items: center;
  background: #28272761;
  padding: 20px;
  box-shadow: 0 2px 20px 0 #ffffff, 0 2px 20px 0 #8fff9c;
}

#lyrics {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 30px;
}

#results {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.sum {
  color: #ffffff;
  font-size: 18px;
}

.sum button {
  color: #fefcad;
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  border: 2.5px solid #fefcad;
  background: transparent;
  cursor: pointer;
}

.sum button:hover {
  box-shadow: 0 2px 20px 0 #fefcad, 0 5px 20px 0 #fefcad;
}

#analyzebutton {
  color: #7db1ff;
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  border: 2.5px solid #7db1ff;
  background: transparent;
  cursor: pointer;
}

#analyzebutton:hover {
  box-shadow: 0 2px 20px 0 #7db1ff, 0 5px 20px 0 #7db1ff;
}

#generateImage {
  color: #fdceef;
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  border: 2.5px solid #fdceef;
  background: transparent;
  cursor: pointer;
}

#generateImage:hover {
  box-shadow: 0 2px 20px 0 #fdceef, 0 5px 20px 0 #fdceef;
}

#summarize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#summary {
  display: none;
  font-size: 19px;
  margin-top: 70px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  border: 2px solid transparent;
  color: #8fff9c;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; /* 버튼의 위치를 절대적으로 배치하기 위한 설정 */
}

#imageWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: 70px auto;
  border: 2px solid #ffffff;
}

#controls {
  position: absolute;
  right: -150px; /* 오른쪽 고정 */
  top: 50%;
  transform: translateY(-50%); /* 가운데로 세로 정렬 */
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 50px; /* 각 버튼 간의 간격 */
  margin-top: 37px;
}

#filterSelectContainer {
  margin: 20px auto;
  text-align: center;
}

#filterSelectLabel {
  font-size: 19px;
  color: #8fff9c;
}

#filterSelect {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

#filterSelect li {
  padding: 10px 20px;
  border: 2.5px solid #8fff9c;
  border-radius: 10px;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.123);
  color: #8fff9c;
  font-size: 19px;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#filterSelect li:hover {
  background-color: #8fff9c;
  color: #000000;
}

#shareTwitter,
#downloadImage {
  margin-top: 5px; /* 공유 및 다운로드 버튼 간의 간격을 줄임 */
}

/* #summary {
      max-width: 80%; 
      overflow-wrap: break-word; 
      word-wrap: break-word;
      white-space: normal;
      padding: 10px;
    } */

#summary.summary-filled {
  display: block;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 40px 0 #8fff9c;
}

.two {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.png {
  font-size: 19px;
  font-weight: bold;
  color: #8fff9c;
  padding: 10px 20px;
  border: 2.5px solid #8fff9c;
  border-radius: 50px;
  width: 200px;
  text-decoration: none;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.png:hover {
  box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 20px 0 #8fff9c;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-element {
  display: block;
  width: 100%; /* or specific width */
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 100px; /* Adjust to position the text near the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally based on width */
  color: white; /* Or any other color that contrasts with your image */
  text-shadow: 0px 0px 20px black; /* To make the text more readable */
  font-size: 24px; /* Adjust font size as needed */
  display: none; /* Initially hidden */
  text-align: center; /* Align text to center */
  width: 100%; /* Make sure the text stretches across the image width */
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.artist {
  font-style: italic;
  font-size: 18px;
  text-shadow: 0px 0px 30px black;
}

/* #loadingSpinner {
  display: none;
  border: 16px solid #8fff9c;
  border-radius: 50%;
  border-top: 16px solid #7073756f;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

#loadingSpinner {
  display: none;
  border: 16px solid rgba(255, 255, 255, 0.1); /* 투명한 바깥 경계 */
  border-radius: 50%;
  border-top: 16px solid #a0a3a56f;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite,
    neonGlow 1.5s ease-in-out infinite alternate, rainbow 4s linear infinite;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
    0 0 50px #8fff9c;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px #8fff9c, 0 0 10px #8fff9c, 0 0 15px #8fff9c,
      0 0 20px #00ffcc;
  }
  100% {
    box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
      0 0 50px #8fff9c;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  #summary {
    font-size: 17px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  #loadingSpinner {
    display: none;
    border: 16px solid rgba(255, 255, 255, 0.1); /* 투명한 바깥 경계 */
    border-radius: 50%;
    border-top: 16px solid #a0a3a56f;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite,
      neonGlow 1.5s ease-in-out infinite alternate, rainbow 4s linear infinite;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
      0 0 50px #8fff9c;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes neonGlow {
    0% {
      box-shadow: 0 0 5px #8fff9c, 0 0 10px #8fff9c, 0 0 15px #8fff9c,
        0 0 20px #00ffcc;
    }
    100% {
      box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
        0 0 50px #8fff9c;
    }
  }

  #content-wrapper {
    flex-direction: column; /* 세로 정렬 */
    height: auto;
  }

  #imageWrapper {
    position: relative; /* 중앙 정렬 유지 */
    top: 0;
    left: 0;
    transform: none; /* translate 제거 */
    /* 이미지와 버튼 사이 간격 */
  }

  #controls {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    flex-direction: column; /* 버튼을 세로 정렬 */
    gap: 30px;
    margin-bottom: 100px;
  }

  #lyrics {
    margin-top: -130px;
  }

  .box {
    margin-bottom: 80px;
  }
  .two {
    margin-top: -20px;
  }
}
