* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background: 100%;
  background: #000000;
  /* background: white; */
  height: 100%;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo a {
  font-family: "Marck Script", cursive;
  font-size: 60px;
  font-weight: 900;
  color: #8fff9c;
  text-decoration: none;
  cursor: pointer;
}

/* #songPlayer {
              margin-left: 150px;
            }
            
            audio::-webkit-media-controls-panel {
              background: #8fff9c;
            }
            
            audio::-webkit-media-controls-play-button {
              border-radius: 50%;
            }
            
            audio::-webkit-media-controls-current-time-display {
              color: #232222;
            }
            
            audio::-webkit-media-controls-time-remaining-display {
              color: #232222;
            }
            
            audio::-webkit-media-controls-timeline {
              border-radius: 40px;
              background: #494a4936;
              margin: 5px;
            }
            
            audio::-webkit-media-controls-volume-slider {
              background: #494a4936;
              border-radius: 50px;
              padding-left: 10px;
              padding-right: 10px;
            }
            
            audio::-webkit-media-controls-mute-button {
              border-radius: 50%;
            } */

nav {
  position: relative;
  width: 295px;
  height: 50px;
  background: #222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px 0 #8fff9c, 0 5px 50px 0 #8fff9c;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  color: #fcf9fc;
  text-decoration: none;
  padding: 0 19px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background: linear-gradient(45deg, #67b170, #232222, #67b170);
  border-radius: 8px;
  transition: 0.5s;
}

div.active a {
  color: #8fff9c;
}

nav a:nth-child(1):hover ~ span {
  left: 0;
}

nav a:nth-child(2):hover ~ span {
  left: 90px;
  width: 95px;
}

nav a:nth-child(3):hover ~ span {
  left: 188px;
  width: 107px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container1 {
  text-align: center;
}

.content h1 {
  font-size: 110px;
  text-decoration: none;
  padding-top: 50px;
}

h1 span:nth-child(1) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

h1 span:nth-child(2) {
  color: #ffffff;
}

h1 span:nth-child(3) {
  color: #8fff9c;
  text-shadow: 0 0 20px #8fff9c;
}

.content1 h2 {
  font-size: 35px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(60, end) infinite alternate,
    blink-caret 0.1s step-end infinite;
  color: transparent;
  -webkit-text-stroke: 0.05vw #a9ffb3;
}

.content1 h2 span {
  -webkit-text-stroke: 0.05vw #ffffff;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 50px;
}

.content2 p {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.05px;
  line-height: 45px;
  padding: 10px;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px #6faa76;
}

/* button {
            font-size: 27px;
            letter-spacing: 1.5px;
            width: 160px;
            padding: 10px;
            text-align: center;
            border-radius: 30px;
            font-weight: bold;
            border: 2.5px solid #8fff9c;
            background: transparent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
          } */

button a {
  text-decoration: none;
  color: #8fff9c;
}

button span {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 50px 0 #8fff9c, 0 10px 100px 0 #8fff9c;
  transition: 1s;
}

footer {
  color: #ffffff;
  background: #232222;
  border-top: 2px solid #ffffff3a;
  font-size: 16px;
  height: 50px;
  position: relative;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .logo a {
    font-size: 50px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content h1 {
    font-size: 60px;
  }

  .content1 h2 {
    font-size: 30px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content2 p {
    font-size: 14px;
    line-height: 30px;
  }

  footer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .logo a {
    font-size: 40px;
  }

  .container1 {
    margin-top: 20px;
  }

  .content h1 {
    font-size: 40px;
  }

  .content1 h2 {
    font-size: 25px;
  }

  .container2 {
    margin-top: 20px;
  }

  .content2 p {
    font-size: 11px;
    line-height: 30px;
  }

  /* button {
              font-size: 20px;
              letter-spacing: 1.5px;
              width: 100px;
              padding: 10px;
              text-align: center;
              border-radius: 30px;
              font-weight: bold;
              border: 2.5px solid #b5ffbd;
              background: transparent;
              cursor: pointer;
              position: relative;
              overflow: hidden;
            } */

  footer {
    font-size: 11px;
  }
}

/* ----------------------------------------- */

.contain1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contain1 p {
  font-size: 23px;
  font-weight: 600;
  color: transparent;
  padding-bottom: 35px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s steps(60, end) infinite alternate,
    blink-caret 0.1s step-end infinite;
  -webkit-text-stroke: 0.07vw #ffffff;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

/* .box {
            height: 60px;
            display: flex;
            cursor: pointer;
            padding: 10px 20px;
            background: #232222;
            border: 3px solid #8fff9c;
            border-radius: 50px;
            align-items: center;
          }
          
          input::-webkit-clear-button {
            display: none;
          }
          
          .box:hover {
            box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 30px 0 #8fff9c;
          }
          
          .box:hover input {
            width: 320px;
          }
          
          input::placeholder {
            color: #ffffff;
            font-size: 16px;
          }
          
          .box input {
            width: 0;
            outline: none;
            border: none;
            color: #8fff9c;
            font-size: 16px;
            font-weight: 500;
            transition: 1s;
            background: transparent;
          }
          
          .box a .fa-solid {
            color: #8fff9c;
            font-size: 20px;
          } */

/* .box {
          height: 60px;
          display: flex;
          cursor: pointer;
          padding: 10px 20px;
          background: #232222;
          border: 3px solid #8fff9c;
          border-radius: 50px;
          align-items: center;
        }
        
        input::-webkit-clear-button {
          display: none;
        }
        
        .box:hover {
          box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 30px 0 #8fff9c;
        }
        
        .box:hover input {
          width: 320px;
        }
        
        input::placeholder {
          color: #ffffff;
          font-size: 16px;
        }
        
        .box input {
          width: 0;
          outline: none;
          border: none;
          color: #8fff9c;
          font-size: 16px;
          font-weight: 500;
          transition: 1s;
          background: transparent;
        }
        
        .box .fa-solid {
          color: #8fff9c;
          font-size: 20px;
        } */

#search {
  border-radius: 50px;
  background: transparent;
  border: none;
}

/*
          */

#noResults {
  color: #ffffff;
  font-size: 18px;
}

.single-result-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 50px;
}

.col h3 {
  color: #ffffff;
  font-size: 21px;
  text-align: left;
  margin-bottom: 10px;
}

.col p {
  color: #ffffffc0;
  font-size: 18px;
}

.col2 button {
  color: #8fff9c;
  font-size: 19px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  width: 160px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 2.5px solid #b5ffbd;
  background: transparent;
  cursor: pointer;
}

.col2 button:hover {
  box-shadow: 0 2px 15px 0 #8fff9c, 0 2px 15px 0 #8fff9c;
}

.single-result-row {
  display: flex;
  align-items: center;
  background: #28272761;
  padding: 20px;
  box-shadow: 0 2px 20px 0 #ffffff, 0 2px 20px 0 #8fff9c;
}

#lyrics {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  line-height: 30px;
}

#results {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.summary {
  color: #ffffff;
  font-size: 18px;
}

.summary button {
  color: #8fff9c;
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  border: 2.5px solid #b5ffbd;
  background: transparent;
  cursor: pointer;
}

.summary button:hover {
  box-shadow: 0 2px 20px 0 #8fff9c, 0 5px 20px 0 #8fff9c;
}

#summary {
  font-size: 19px;
  margin-top: 50px;
}

#createbutton {
  color: #ffffff;
  margin-top: 30px;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  border: 2.5px solid #ffffff;
  background: transparent;
  cursor: pointer;
}

#createbutton:hover {
  box-shadow: 0 2px 20px 0 #ffffff, 0 5px 20px 0 #ffffff;
}

#image-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

#image {
  margin: 70px;
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.type {
  width: 450px;
  height: 100px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 0 2px 20px 0 #ffffff, 0 5px 20px 0 #ffffff;
  /* border: 2px solid #ddd; */
  background: transparent;
  color: #ffffff;
  border-radius: 7px;
  font-size: 16px;
  resize: vertical;
}

.type::placeholder {
  color: #ffffff;
}

.generating {
  background: transparent;
  color: white;
  border: 3px solid #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 1s;
  margin-top: 20px;
}

.generating:hover {
  box-shadow: 0 2px 20px 0 #ffffff, 0 5px 20px 0 #ffffff;
}

#loadingSpinner {
  display: none;
  border: 16px solid rgba(255, 255, 255, 0.1); /* 투명한 바깥 경계 */
  border-radius: 50%;
  border-top: 16px solid #a0a3a56f;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite,
    neonGlow 1.5s ease-in-out infinite alternate, rainbow 4s linear infinite;
  margin: auto;
  margin-top: 70px;
  box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
    0 0 50px #8fff9c;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px #8fff9c, 0 0 10px #8fff9c, 0 0 15px #8fff9c,
      0 0 20px #00ffcc;
  }
  100% {
    box-shadow: 0 0 20px #8fff9c, 0 0 30px #8fff9c, 0 0 40px #8fff9c,
      0 0 50px #8fff9c;
  }
}
